/*.Normal                 { font-size: 14px; line-height: 1.428; }*/
/*.dnnActions             { display: inline-block; }
.dnnActions li          { margin-right: 5px; list-style: none; float: left; }*/
.dnnCheckbox .mark      { background: none;}
/*.form-group .dnnLabel   { text-align: left; width: auto; }
.dnnLabel + span        { white-space: normal; }*/




















/***********************************************************************************/

div.actionMenu ul.dnn_mact > li {
  line-height:20px !important; 
}

div.actionMenu ul.dnn_mact > li > a {
  border-radius:3px;
}
/*
div.actionMenu ul.dnn_mact > li:hover > a {
  background-color: #ffffff;
  color: #000000;
}*/



#ControlBar, #ControlBar:before, #ControlBar:after, #ControlBar *:before, #ControlBar *:after,
#ControlBar li, #ControlBar li:before, #ControlBar li:after,
#ControlBar a, #ControlBar a:before, #ControlBar a:after,
.dnn_mact, .dnn_mact:before, .dnn_mact:after, .dnn_mact *:before, .dnn_mact *:after,
.dnn_mact li, .dnn_mact li:before, .dnn_mact li:after {
    -webkit-box-sizing: content-box !important; 
    -moz-box-sizing: content-box !important; 
    box-sizing: content-box !important; 
}

/* Make the Control bar more mobile friendly */
/*.ControlContainer {
    position: relative;
    width: 727px;
    height: 53px;
    margin: 0px auto;
}*/

/*
.paneOutline {
    margin: 5px 0;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    color: #666;
}*/
/*.paneOutline_display {
    margin: 2px 1px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    border: 1px solid #ccc;
    text-align: center;
}*/

/*--------- StandardMenu style ----------*/
#standardMenu { position:relative; margin:0 auto;}
#standardMenu ul { list-style:none; margin:0; padding:0;}
#standardMenu li{ position:relative; display:block; float:left; margin-right:1px; list-style-type:none;}

#standardMenu .rootMenu li a{ background:none; display:block; position:relative; float:none; z-index:10; cursor:pointer; text-decoration:none;}
#standardMenu .rootMenu li.selected a, #standardMenu .rootMenu li.rmHover a, #standardMenu .rootMenu li.breadcrumb a, #standardMenu .rootMenu li:hover a, #standardMenu .rootMenu li a:hover { background:#FFFFFF; text-decoration:none; -moz-transition:background 0.4s ease;  -webkit-transition:background 0.3s ease-in; transition:background 0.4s ease;}

#standardMenu .rootMenu li a span { display:block; padding:0 22px; height:40px; line-height:40px; color:#1A1A1A; white-space:nowrap; font-size:14px; font-weight:bold; text-shadow:none; text-transform:none;}
#standardMenu .rootMenu li.selected a span, #standardMenu .rootMenu li.rmHover a span, #standardMenu .rootMenu li.breadcrumb a span, #standardMenu .rootMenu li:hover a span, #standardMenu .rootMenu li a:hover span { color:#000000;}

#standardMenu .rootMenu .navarrow { background:url(./assets/img/menu-arrow01.gif) no-repeat; position:absolute; right:0; top:16px; width:15px; height:7px;}

/*-- submenu --*/
#standardMenu .subMenu { display:none; position:absolute; top:40px; z-index:1210;}
#standardMenu .rootMenu li.rmHover .subMenu { display:block;}
#standardMenu .subMenu ul{ margin:0; padding:0; position:relative; width:180px; border:1px solid #DDDDDD; z-index:1200;}
#standardMenu .subMenu li{ float:none; clear:both; width:100%; padding:0; *margin-bottom:-3px; position:relative;}
#standardMenu .subMenu li.item a{ background:#fff; background:rgba(255,255,255,0.95); border-bottom:1px solid #CECECE; }
#standardMenu .subMenu li.last > a{ border-bottom: none;}
#standardMenu .subMenu li.item a span{ border-bottom:none; display:block; background:none; font-size:12px; color:#555555; font-weight:normal; white-space:normal; height:auto; line-height:1.5em; padding:10px 10px 10px 12px; text-shadow:none; text-transform:none; margin:0;}
#standardMenu .subMenu li.selected > a span, #standardMenu .subMenu li.breadcrumb > a span { color:#707F90;}
#standardMenu .subMenu li.item a:hover span { color:#707F90; cursor:pointer;}
#standardMenu .subMenu .subarrow{ background:url(./assets/img/menu-arrow01.gif) no-repeat; position:absolute; right:0; top:16px; width:15px; height:7px;}

#standardMenu ul li ul li ul{ width:180px; margin:0;}
#standardMenu ul li ul li ul.level1{ display: none; position:absolute; left:180px; top:-1px;}
#standardMenu ul li ul li ul li ul{ display:none;}
#standardMenu ul li ul li ul li:hover ul.level2 { display: block; position:absolute; left:180px; top:-1px;}
#standardMenu ul li ul li ul li ul li ul{ display:none;}
#standardMenu ul li ul li ul li ul li:hover ul.level3 { display: block; position:absolute; left:180px; top:-1px;}

#standardMenu img.mmIcon {max-height:24px; margin-right: 7px; vertical-align: middle;}
#standardMenu img.rootIcon {max-height:30px; margin-right: 6px; vertical-align: middle;}

#skin_nav { float:right; padding:0px 55px 0px 15%; position:relative; z-index:920; width:100%; border-bottom: solid 2px #221f72; background-color: #ccc9e5; }

a.paymentbtn {float:right; margin: 5px 15px 2px 5px; padding:2px 20px 2px 20px; background-color: #BDE93C; color: #221f72; font-weight: bold; border: solid 2px #221f72; border-radius: 4px;}
a.paymentbtn:hover {color: #FFFFFF; background-color: #221f72; border: solid 2px #221f72; border-radius: 4px;}

.Normal p, .Normal ul, .Normal li {font-size: 15px; color: #000000; line-height: 18px; }
.Normal h1 {font-size: 30px; font-weight: 400; font-stretch: 85%; line-height: 30px; letter-spacing: 1px; }
.Normal h4 {font-size: 18px; font-weight: 700; color: #000000; letter-spacing: 1px;}

#Radia_Box { color: #221f72; font-weight: bold; padding: 8px 15% 8px 15%; position:relative; width:95%; border: 0px; background-color: #ccc9e5; text-align: center;}

.radia-lines {border-top: solid 1px #888888; border-bottom: solid 1px #888888; margin: 10px 0px 10px 0px; }
.radia-lines p { padding:5px 15% 0px 15%; font-size: 34px; font-weight: 50; font-stretch: 85%; text-align: center; line-height: 40px; letter-spacing: 1px; }

/*--------- Social-Links ----------*/
.Social-Links { margin-top:2px;}
.iconFacebook{width:40px;height:40px;background: url(assets/img/socialicons.png)  no-repeat 0 0;display:inline-block; padding:0;margin:0 1px;}
.iconTwitter{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -42px 0;display:inline-block;padding:0;margin:0 1px;}
.iconForrst{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -84px 0;display:inline-block;padding:0;margin:0 1px;}
.iconDribbble{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -126px 0;display:inline-block;padding:0;margin:0 1px;}
.iconDeviantArt{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -168px 0;display:inline-block;padding:0;margin:0 1px;}
.iconYouTube{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -210px 0;display:inline-block;padding:0;margin:0 1px;}
.iconTumblr{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -252px 0;display:inline-block;padding:0;margin:0 1px;}
.iconLastfm{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -294px 0;display:inline-block;padding:0;margin:0 1px;}
.iconPicasa{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -336px 0; display:inline-block;padding:0;margin:0 1px;}
.iconRss{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -378px 0;display:inline-block;padding:0;margin:0 1px;}
.iconBehance{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -420px 0;display:inline-block;padding:0;margin:0 1px;}
.iconSkype{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -462px 0;display:inline-block;padding:0;margin:0 1px;}
.iconLinkedIn{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -546px 0;display:inline-block;padding:0;margin:0 1px;}
.iconPinterest{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -588px 0;display:inline-block;padding:0;margin:0 1px;}
.iconGoogle{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -630px 0;display:inline-block;padding:0;margin:0 1px;}
.iconVimeo{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -672px 0;display:inline-block;padding:0;margin:0 1px;}
.iconEvernote{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -714px 0;display:inline-block;padding:0;margin:0 1px;}
.iconStumbleUpon{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -756px 0;display:inline-block;padding:0;margin:0 1px;}
.iconDropbox{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -798px 0;display:inline-block;padding:0;margin:0 1px;}
.iconSoundCloud{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -840px 0;display:inline-block;padding:0;margin:0 1px;}
.iconFlicr{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -882px 0;display:inline-block;padding:0;margin:0 1px;}
.iconBlogger{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -924px 0;display:inline-block;padding:0;margin:0 1px;}
.iconInstagram{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -966px 0;display:inline-block;padding:0;margin:0 1px;}
.iconYahoo{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1008px 0;display:inline-block;padding:0;margin:0 1px;}
.iconGrooveshark{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1050px 0;display:inline-block;padding:0;margin:0 1px;}
.iconYouTube2{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1092px 0;display:inline-block;padding:0;margin:0 1px;}
.iconDigg{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1134px 0;display:inline-block;padding:0;margin:0 1px;}
.iconShareThis{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1176px 0;display:inline-block;padding:0;margin:0 1px;}
.iconWordPress{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1218px 0;display:inline-block;padding:0;margin:0 1px;}
.iconKickstarter{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1260px 0;display:inline-block;padding:0;margin:0 1px;}
.iconBebo{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1302px 0;display:inline-block;padding:0;margin:0 1px;}
.iconZerply{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1344px 0;display:inline-block;padding:0;margin:0 1px;}
.iconAmazon{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1386px 0;display:inline-block;padding:0;margin:0 1px;}
.iconMyspace{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1428px 0;display:inline-block;padding:0;margin:0 1px;}
.iconWikipedia{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1470px 0;display:inline-block;padding:0;margin:0 1px;}
.iconTechnorati{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1512px 0;display:inline-block;padding:0;margin:0 1px;}
.iconAddThis{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1554px 0;display:inline-block;padding:0;margin:0 1px;}
.iconDelicious{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1596px 0;display:inline-block;padding:0;margin:0 1px;}
.iconXing{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1638px 0;display:inline-block;padding:0;margin:0 1px;}
.iconQuora{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1680px 0;display:inline-block;padding:0;margin:0 1px;}
.iconGitHub{width:40px;height:40px;background:url(assets/img/socialicons.png) no-repeat -1722px 0;display:inline-block;padding:0;margin:0 1px;}

/*--------- Social-Links Hover ----------*/
a.iconFacebook:hover{background-color:#5d82d1;background-position: 0 -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconTwitter:hover{background-color:#40bff5;background-position: -42px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconForrst:hover{background-color:#45ad76;background-position: -84px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconDribbble:hover{background-color:#6a8a7b;background-position: -126px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconDeviantArt:hover{background-color:#d3180e;background-position: -168px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconYouTube:hover{background-color:#426d9b;background-position: -210px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconTumblr:hover{background-color:#f34320;background-position: -252px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconLastfm:hover{background-color:#9eb5b6;background-position: -294px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconPicasa:hover{background-color:#9eb5b6;background-position: -336px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconRss:hover{background-color:#f8a13b;background-position: -378px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconBehance:hover{background-color:#1879fd;background-position: -420px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconSkype:hover{background-color:#13c1f3;background-position: -462px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconLinkedIn:hover{background-color:#238cc8;background-position: -546px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconPinterest:hover{background-color:#e03037;background-position: -588px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconGoogle:hover{background-color:#eb5e4c;background-position: -630px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconVimeo:hover{background-color:#34c5e9;background-position: -672px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconEvernote:hover{background-color:#9acf4f;background-position: -714px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconStumbleUpon:hover{background-color:#fb582c;background-position: -756px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconDropbox:hover{background-color:#17a3eb;background-position: -798px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconSoundCloud:hover{background-color:#fe7d2f;background-position: -840px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconFlicr:hover{background-color:#ff48a3;background-position: -882px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconBlogger:hover{background-color:#fe9132;background-position: -924px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconInstagram:hover{background-color:#548bb6;background-position: -966px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconYahoo:hover{background-color:#ab47ac;background-position: -1008px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}
a.iconGrooveshark:hover{background-color:#ee4d40;background-position: -1050px -46px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease 0s;}
a.iconYouTube2:hover{background-color:#fcaf1a;background-position: -1092px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconDigg:hover{background-color:#75788d;background-position: -1134px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconShareThis:hover{background-color:#25a774;background-position: -1176px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconWordPress:hover{background-color:#2592c3;background-position: -1218px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconKickstarter:hover{background-color:#8cd049;background-position: -1260px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconBebo:hover{background-color:#ee3849;background-position: -1302px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconZerply:hover{background-color:#9bba78;background-position: -1344px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconAmazon:hover{background-color:#fb8a2a;background-position: -1386px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconMyspace:hover{background-color:#008dde;background-position: -1428px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconWikipedia:hover{background-color:#b3b5b8;background-position: -1470px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconTechnorati:hover{background-color:#6fcf49;background-position: -1512px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconAddThis:hover{background-color:#ff7850;background-position: -1554px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconDelicious:hover{background-color:#377bda;background-position: -1596px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconXing:hover{background-color:#1a8e8c;background-position: -1638px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconQuora:hover{background-color:#e83b21;background-position: -1680px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
a.iconGitHub:hover{background-color:#3f91cb;background-position: -1722px -46px;-webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}

.clearafter:after{ clear:both; content:"."; height:0px; font-size:0px; visibility:hidden; display:block;}
.clearafter{ display:inline-block;}
.clearafter{ display:block;}